<div>
  <% books.each do |book| %>
    <div class="book">
      <div class="book_title scroll_td">
        <%= book.title %>
      </div>
      <div class="book_body scroll_td">
        <%= book.body %>
      </div>
    </div>
  <% end %>
</div>
